img.img-circle.team-img {
    width: 180px;
    height: 180px;
    border: 4px solid transparent;
    transition: all 0.01s;
}
.thumbnail > img, .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}
img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.img-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Inherited from div.thumbnail
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
Inherited from div.item
#team .item {
    padding: 0;
    margin: 15px;
    color: #FFF;
    text-align: center;
}
Inherited from div#tf-team.text-center
#tf-team {
    background: url(../img/03.jpg);
    background-size: 40;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
}
.text-center {
    text-align: center;
}
Inherited from strong
b, strong {
    font-weight: bold;
}
user agent stylesheet
strong, b {
    font-weight: bold;
}
Inherited from body
body, html {
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #5a5a5a;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}